<div class="container pt-4">
    <form class="" id="login" [formGroup]="registerFormGroup" (ngSubmit)="submitRegister()">

        <legend>Registrar</legend>

        <div class="pt-2">
            <label for="userTag">Tag:</label>
            <input class="form-control border-1 border-primary" id="userTag" type="text" name="userTag"
                formControlName="userTag" [(ngModel)]="userTagModel">
        </div>

        <div class="pt-2">
            <label for="userName">NickName:</label>
            <input class="form-control border-1 border-primary" id="userName" type="text" name="userName"
                formControlName="userName" [(ngModel)]="userNameModel">
        </div>

        <div class="pt-2">
            <label for="userEmail">Email:</label>
            <input class="form-control border-1 border-primary" id="userEmail" type="email" name="userEmail"
                formControlName="userEmail" [(ngModel)]="userEmailModel">
        </div>

        <div class="pt-2 pb-2">
            <label for="userPassword">Senha:</label>
            <input class="form-control border-1 border-primary" id="userPassword" type="password" name="userPassword"
                formControlName="userPassword" [(ngModel)]="userPasswordModel">
        </div>

        <div class="d-flex flex-column flex-sm-row">
            <button class="btn btn-primary w-100 me-sm-1" type="submit">
                Registrar
            </button>
    
            <button class="btn btn-outline-primary w-100 ms-sm-1 mt-2 mt-sm-0"(click)="goToLogin()">
                Já tem uma Conta?
            </button>
        </div>
    </form>
</div>