<main class="d-flex flex-row">

    <section id="lateral-bar" class="d-flex flex-column justify-content-between">

        <div id="friends">
            <div id="profile-picture" class="d-flex">
                <img src="{{this.getUser()?.profilePicture}}">
                
                <div class="d-flex flex-column ps-2">
                    <h4>
                        {{this.getUser()?.name}}
                    </h4>
                    <p>
                        #{{this.getUser()?.id}}
                    </p>
                    <h4 id="variables">
                        User: {{getUser()?.chats}} <br>
                        ChatID: {{getChatID()}} <br>
                        Friends: <br>
                        <ul>
                            @for (friend of getFriendsList(); track $index) 
                            {
                                <li>
                                    Chat: {{friend.chat.id}}<br>
                                    User: {{friend.user.id}}
                                </li>
                            }
                        </ul>
                        
                    </h4>
                </div>

            </div>
            

            <div>
                <div>
                    <p>
                    @for (chat of getFriendsList(); track $index)
                    {
                        @for (userID of chat.chat.usersIDs; track $index) 
                        {
                            @if(userID != getUser()?.id)
                            {
                                
                                @if (chat.user.id != getUser()?.id && chat.user.id == userID)
                                {
                                    <div (click)="goToChat(chat.chat.id)" role="button" class="d-flex flex-row" id="friends-cards">
                                        <img id="friends-picture" src="{{chat.user.profilePicture}}"> 
                                        <p class="ps-2">{{chat.user.name}}</p>
                                    </div>
                                }
                            }
                        }
                    }

                </p>
                </div>
            </div>
        </div>

        <div id="add-friend">
            <input type="text" placeholder="Adicionar Pessoa" [(ngModel)]="findUserTag" (keydown.enter)="sendUserTag()"
            class="form-control border-1 border-primary" />
        </div>
    </section>

    <section id="messages" class="d-flex flex-column justify-content-between w-100">
        <div id="history-messages" class="pe-2 ps-2 w-100">

            
                @for (chat of getFriendsList(); track $index) 
                {
                    @if(chat.chat.id == getChatID())
                    {
                        @for (message of chat.chat.messages.slice().reverse(); track $index) 
                        {
                            
                            @if(chat.user.id == message.userID)
                            {
                                <app-message [user]="chat.user" [message]="message"/>
                            }

                            @if(getUser()?.id == message.userID)
                            {
                                
                                <app-message [user]="getUser()" [message]="message" [right]="''"/>
                            }
                            
                        }
                    
                }
            }




           





        </div>

        <div id="send-message">
            <div class="fixed">
                @if(getChatID() != 'null' && getChatID() != '0')
                {
                    <input type="text" placeholder="Envie uma mensagem" [(ngModel)]="message" (keydown.enter)="sendMessage()" 
                    class="form-control border-1 border-primary"/>

                    <button (click)="sendMessage()" id="send-message">
                        <img src="../../../assets/images/send-message.png">
                    </button>
                }
            </div>
        </div>
    </section>


</main>