#send-message, #send-message img, #add-friend{
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;
    
}

#send-message img, #add-friend img{
    width: 1.5rem;
    height: 1.5rem;
}

#send-message{

}

#profile-picture{
    width: 2rem;
    height: 2rem;
}

#lateral-bar{
    border-right: 1px solid gray;
}

main{
    height: 10rem;
}